
.icon-mail:before { content: '\e800'; } /* '' */
.icon-info-outline:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */